form(id='patient-search' action='https://getform.io/f/779cc0db-61e8-4bd9-b4f0-8597a4abbddf' name='patient-detail-receiver-form')
    label.main(for='First Name') Patient First Name
    input.beautify(type='text' name='fldOCZI2Eq3Q5dngZ' id='First Name' placeholder='Enter the patient\'s first name here' required)
    br
    label.main(for='Last Name') Patient Last Name
    input.beautify(type='text' name='fld4UHuiXnUdaOv2w' id='Last Name' placeholder='Enter the patient\'s last name here' required)
    br
    label.main(for='Height (Centimeters)' placeholder='Enter the patient\'s height in centimeters' required) Patient Height
    input.beautify(type='number' name='fldDyChfzL7oO9wI6' id='patient-height' placeholder='Enter the patient\'s height here' required)
    br
    button(type='submit') Search Database