meta(name='viewport', content='width=device-width, initial-scale=1')
viewport(width="device-width", initial-scale=1)
link(rel='stylesheet' href='../../CSS/styles.css')
script(src='../../JavaScript/config.js')