nav 
    ul
        li.navbar-title Patient Onboarding & Retention System (PORES)
        li 
            a(href='patientPortal1.html') Schedule Appointment (Patient Portal)
        li 
            a(href='login.html') Staff Portal